*.apk
*.aab
*.aar
*.ap_
*.dex
*.class
*.iml
*.log
*.hprof
*.stackdump
*.swp
*.swo
*~
._*
.AppleDouble
.DS_Store
.directory
.externalNativeBuild/
.fuse_hidden*
.gradle/
.kotlin/
.LSOverride
.navigation/
.Spotlight-V100
.Trash-*
.Trashes
$RECYCLE.BIN/
.cxx/
Desktop.ini
ehthumbs.db
ehthumbs_vista.db
Thumbs.db
Thumbs.db:encryptable
bin/
build/
captures/
gen/
#.idea/
.idea/assetWizardSettings.xml
.idea/caches/
.idea/dictionaries/
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/libraries/
.idea/modules.xml
.idea/navEditor.xml
.idea/shelf/
.idea/tasks.xml
.idea/workspace.xml
local.properties
out/
proguard/
**/lint/generated/
**/lint/intermediates/
**/lint/outputs/
**/lint/tmp/
